<section class="about-section" id="about">
    <div class="container">
        <h2 class="section-title">About Me</h2>
        <div class="about-content">
            <div class="about-text">
                <p>
                    I first found my love for coding from a young age when first joining my school's programming UIL team and my school's robotics club. There I gained early experience building and programming projects and learned to enjoy the problem-solving process. That foundation led me to pursue personal development projects, some of which are featured above.
                </p>
                <p>
                    During high school I worked with the school's IT department repairing Chromebooks for the students. After I graduated from college I got an IT job at the University where I repair an assortment of devices and software issues for the students, faculty, and staff of the university.
                </p>
                <p>
                    Outside of work, I enjoy chess, reading, archery, and creating 3D maps.
                </p>
            </div>
            <div class="about-image">
                <img [src]="profilePicture" alt="Profile Picture" class="profile-pic">
            </div>
        </div>
    </div>
</section>
